<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml">

<head>
  <meta charset="utf-8">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
  <meta name="color-scheme" content="light dark">
  <meta name="supported-color-schemes" content="light dark">
  <title>Forgot Password</title>
</head>

<body>
  <p>Dear Mr./Ms {{ user.name }}</p>
  <p>
    You have requested to reset your password for the account associated with the following account name:
    {{user.email}}.<br>
    If you didn't request this, you can safely ignore this email.
  </p>
  <p>
    Please get the following temporary password to reset password.<br>
    Temporary password: <strong>{{ user.resetPasswordToken }}</strong>
  </p>

  <p>Date and time of request: {{ user.updateAt }}</p>

  <p>Please do not reply to this email.</p><br>

  <p>
    Best regards,<br>
    MyEC
  </p>
</body>

</html>